@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #1f1f1f;
  --primary: #424242;
  --secondary: #777;
  --main-orange: #ff6f00;
  --border-gray: #efefef;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #1F1F1F;
    --foreground: #ededed;
  }
} */

body {
  color: var(--foreground);
  background: var(--background);
  font-family: "Poppins", "Noto Sans Thai", sans-serif;
}
